<section class="qa-section-small">
  <div class="qa-card">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">OOPS</h1>
      <fa-icon class="qa-card-icon" icon="bug"></fa-icon>
    </div>

    <h1 class="not-found text-center">
      <span class="not-found-letter">4</span>
      <fa-icon [spin]="true" icon="cog"></fa-icon>
      <span class="not-found-letter">4</span>
    </h1>

    <h1 class="heading-primary text-center">Page not found</h1>
    <h3 class="heading-tertiary text-center">We're sorry, requested page could not be found.</h3>
  </div>
</section>
