<section class="menu-section">
  <header class="header-class">
    <nav class="main-nav">
      <ul class="nav-list">
        <li><a [routerLink]="['/landing', 'products']" class="nav-main-item">products</a></li>
        <li><a [routerLink]="['/landing', 'sale-products']" class="nav-main-item">offers</a></li>
        <li><a class="nav-main-item" href="#">who we are</a></li>
        <li><a class="nav-main-item" href="#">contact</a></li>
        <li *ngIf="loggedUser"><a class="shopping-cart-notification" data-tooltip="22" href="#">
          <fa-icon icon="shopping-cart"></fa-icon>
        </a></li>
        <li class="nav-main-search">
          <div class="search-bar">
            <input aria-label="search" class="search-bar-input" placeholder="Enter your search" type="text"/>
            <button class="search-bar-submit" type="button">
              <fa-icon aria-label="submit search" icon="search"></fa-icon>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </header>


  <div class="logo-side">
    <div class="logo-text"><a [routerLink]="['/landing']">{{logoText}}</a></div>
    <nav class="social-nav">
      <ul class="social-list">
        <li><a href="#">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a></li>
        <li><a href="#">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a></li>
        <li><a href="#">
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
        </a></li>
        <li><a href="#">
          <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
        </a></li>
        <li *ngIf="!loggedUser"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="loggedUser"><a [routerLink]="['/user']" class="profile-link">
          <fa-icon icon="user-cog" title="Profile"></fa-icon>
        </a></li>
        <li *ngIf="loggedUser">
          <button (click)="logOut()" class="qa-btn-icon qa-btn-icon-info" type="button">
            <fa-icon icon="sign-out-alt" title="Logout"></fa-icon>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>

