<section class="qa-section">

  <div class="top-grid">
    <div class="qa-card">
      <div class="qa-card-header">
        <h1 class="qa-card-title-container qa-card-title">User Details</h1>
        <fa-icon class="qa-card-icon" icon="user"></fa-icon>
      </div>

      <div class="top-grid">
        <ul class="user-details">
          <li>Username: {{currentUser.username}}</li>
          <li>Email: {{currentUser.email}}</li>
          <li>Phone No: {{currentUser.phoneNo}}</li>
          <li>Role: {{roles[currentUser.role]}}</li>
        </ul>

        <ul class="user-details">
          <li>Join Date: {{currentUser.joinDate | date}}</li>
          <li>Last Login: {{currentUser.lastLoginDateDisplay | date}}</li>
          <li>Is locked:
            <fa-icon class="{{currentUser.isLocked ? 'text-danger': 'text-success'}}"
                     icon="{{currentUser.isLocked ? 'check': 'times'}}"></fa-icon>
          </li>
          <li>Is Active:
            <fa-icon class="{{currentUser.isActive ? 'text-success': 'text-danger'}}"
                     icon="{{currentUser.isActive ? 'check': 'times'}}"></fa-icon>
          </li>
        </ul>
      </div>

      <a *ngIf="authService.isAdmin() | async" [routerLink]="['/cpanel']" class="qa-btn qa-btn-info qa-btn-s mt-s"
         type="button">CPanel</a>
      <button (click)="onEditUserDetails()" class="qa-btn qa-btn-primary qa-btn-s pull-right mt-s" type="button">Edit
        User Details
      </button>
    </div>

    <div class="qa-card">
      <div class="qa-card-header">
        <h1 class="qa-card-title-container qa-card-title">Payment Details</h1>
        <fa-icon [icon]="['fab', 'cc-visa']" class="qa-card-icon"></fa-icon>
      </div>

      <div *ngFor="let payment of currentUser.paymentDetails" class="display-card-wrapper">
        <div>
          <fa-icon [icon]="['fab', 'cc-visa']" class="qa-card-icon"></fa-icon>
        </div>
        <div>{{payment.cardNoDisplay}}</div>
        <div>{{payment.expireDate}}</div>
        <div class="payment-box-buttons">
          <span (click)="onMakePaymentDefault(payment.paymentId)"
                *ngIf="!payment.defaultPaymentMethod">Make Default |</span>
          <span (click)="onDeletePayment(payment.paymentId)"> Delete</span>
        </div>
      </div>


      <button (click)="onAddPayment()" class="qa-btn qa-btn-primary qa-btn-s pull-right mt-s add-p-b" type="button">Add
        Payment Method
      </button>
    </div>
  </div>

  <div class="qa-card mt-s">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">Addresses</h1>
      <fa-icon class="qa-card-icon" icon="location-arrow"></fa-icon>
    </div>

    <div class="address-grid">

      <div (click)="onAddAddress()" class="address-box address-box-add">
        <fa-icon class="address-box-add-icon" icon="plus"></fa-icon>
        <h3>Add Address</h3>
      </div>

      <div *ngFor="let address of currentUser?.addresses" class="address-box address-box-item">

        <div class="address-box-item-name">
          <strong>{{address.name}} {{address.surname}}</strong>
          <fa-icon *ngIf="address.billingAddress" class="address-box-item-name-icon" icon="check-double"></fa-icon>
        </div>

        <ul>
          <li>{{address.address1}} {{address.address2}}</li>
          <li>{{address.city}}, {{address.county}}</li>
          <li>{{address.eirCode}}</li>
          <li>{{address.country}}</li>
        </ul>

        <div class="address-box-buttons">
          <span (click)="onEditAddress(address)">Edit</span> |
          <span (click)="onDeleteAddress(address.addressId)">Delete</span>
          <span (click)="onSetDefaultAddress(address.addressId)" *ngIf="!address.billingAddress">| Set default</span>
        </div>
      </div>
    </div>
  </div>

  <div class="qa-card mt-s">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">Order History</h1>
      <fa-icon class="qa-card-icon" icon="history"></fa-icon>
    </div>

    <app-custom-alert *ngIf="currentUser.orderDetails.length == 0" alertIcon="info"
                      alertText="You didn't place any order yet." alertType="info"
                      strongText="No orders :("></app-custom-alert>


    <div *ngIf="currentUser.orderDetails.length > 0">
      <mat-accordion *ngFor="let o of currentUser.orderDetails">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order Id: {{o.orderId}}
            </mat-panel-title>
            <mat-panel-description>
              Placed at: {{o.orderDate | date}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="settings-wrapper">
            <div class="products-side">
              <div *ngFor="let item of o.products" class="products-side-wrapper">
                <div class="products-side-wrapper-img">
                  <img *ngIf="productsAsMap.get(item.productId).images.length > 0"
                       [src]="'data:image/jpeg;base64,'+ productsAsMap.get(item.productId).images[0]?.image">
                  <img *ngIf="productsAsMap.get(item.productId).images.length == 0" src="assets/images/nophoto.png">
                </div>
                <div class="products-side-wrapper-title">
                  <h1>{{productsAsMap.get(item.productId).title}}</h1>
                  <p class="products-side-wrapper-title-w">Produced
                    by: {{productsAsMap.get(item.productId).manufactured}}</p>
                  <p class="products-side-wrapper-title-w">Warranty: {{productsAsMap.get(item.productId).warranty}}
                    years</p>
                  <p class="products-side-wrapper-title-q">Quantity: {{item.quantity}}</p>
                </div>
                <div class="products-side-wrapper-price">
                  <span class="cart-row-price-n">{{productsAsMap.get(item.productId).price}}</span>
                </div>
              </div>
            </div>
            <div class="settings-side">
              <div class="settings-container" data-tooltip="Delivery Address">
                <p class="settings-container-main">{{o.address.name}} {{o.address.surname}}</p>
                <p>{{o.address.address1}}</p>
                <p>{{o.address.city}} {{o.address.county}}</p>
                <p>{{o.address.eirCode}}</p>
                <p>{{o.address.county}}</p>
              </div>

              <div class="settings-container" data-tooltip="Payment Details">
                <p class="settings-container-main">{{o.payment.cardNoDisplay}}</p>
                <p>Expire: {{o.payment.expireDate}}</p>
              </div>

              <div class="settings-container" data-tooltip="Total Paid">
                <p class="settings-container-main">&euro;{{o.orderTotal}}</p>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>

</section>
