<section class="qa-section">

  <div class="top-grid">
    <div class="qa-card">
      <div class="qa-card-header">
        <h1 class="qa-card-title-container qa-card-title">User Details</h1>
        <fa-icon class="qa-card-icon" icon="user"></fa-icon>
      </div>

      <div class="top-grid">
        <ul class="user-details">
          <li>Username: {{currentUser.username}}</li>
          <li>Email: {{currentUser.email}}</li>
          <li>Phone No: {{currentUser.phoneNo}}</li>
          <li>Role: {{roles[currentUser.role]}}</li>
        </ul>

        <ul class="user-details">
          <li>Join Date: {{currentUser.joinDate | date}}</li>
          <li>Last Login: {{currentUser.lastLoginDateDisplay | date}}</li>
          <li>Is locked:
            <fa-icon class="{{currentUser.isLocked ? 'text-danger': 'text-success'}}"
                     icon="{{currentUser.isLocked ? 'check': 'times'}}"></fa-icon>
          </li>
          <li>Is Active:
            <fa-icon class="{{currentUser.isActive ? 'text-success': 'text-danger'}}"
                     icon="{{currentUser.isActive ? 'check': 'times'}}"></fa-icon>
          </li>
        </ul>
      </div>

      <a *ngIf="authService.isAdmin() | async" [routerLink]="['/cpanel']" class="qa-btn qa-btn-info qa-btn-s mt-s"
         type="button">CPanel</a>
      <button (click)="onEditUserDetails()" class="qa-btn qa-btn-primary qa-btn-s pull-right mt-s" type="button">Edit
        User Details
      </button>
    </div>

    <div class="qa-card">
      <div class="qa-card-header">
        <h1 class="qa-card-title-container qa-card-title">Payment Details</h1>
        <fa-icon [icon]="['fab', 'cc-visa']" class="qa-card-icon"></fa-icon>
      </div>

      <div *ngFor="let payment of currentUser.paymentDetails" class="display-card-wrapper">
        <div>
          <fa-icon [icon]="['fab', 'cc-visa']" class="qa-card-icon"></fa-icon>
        </div>
        <div>{{payment.cardNoDisplay}}</div>
        <div>{{payment.expireDate}}</div>
        <div class="payment-box-buttons">
          <span (click)="onMakePaymentDefault(payment.paymentId)"
                *ngIf="!payment.defaultPaymentMethod">Make Default |</span>
          <span (click)="onDeletePayment(payment.paymentId)"> Delete</span>
        </div>
      </div>


      <button (click)="onAddPayment()" class="qa-btn qa-btn-primary qa-btn-s pull-right mt-s add-p-b" type="button">Add
        Payment Method
      </button>
    </div>
  </div>

  <div class="qa-card mt-s">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">Addresses</h1>
      <fa-icon class="qa-card-icon" icon="location-arrow"></fa-icon>
    </div>

    <div class="address-grid">

      <div (click)="onAddAddress()" class="address-box address-box-add">
        <fa-icon class="address-box-add-icon" icon="plus"></fa-icon>
        <h3>Add Address</h3>
      </div>

      <div *ngFor="let address of currentUser?.addresses" class="address-box address-box-item">

        <div class="address-box-item-name">
          <strong>{{address.name}} {{address.surname}}</strong>
          <fa-icon *ngIf="address.billingAddress" class="address-box-item-name-icon" icon="check-double"></fa-icon>
        </div>

        <ul>
          <li>{{address.address1}} {{address.address2}}</li>
          <li>{{address.city}}, {{address.county}}</li>
          <li>{{address.eirCode}}</li>
          <li>{{address.country}}</li>
        </ul>

        <div class="address-box-buttons">
          <span (click)="onEditAddress(address)">Edit</span> |
          <span (click)="onDeleteAddress(address.addressId)">Delete</span>
          <span (click)="onSetDefaultAddress(address.addressId)" *ngIf="!address.billingAddress">| Set default</span>
        </div>
      </div>
    </div>
  </div>

</section>
