*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
}

a {
  outline: 0 !important;
  color: $clr-secondary;

  &:link, :visited {
    text-decoration: none;
    color: $clr-secondary;
  }

  & :hover,
  :focus, {
    text-decoration: none;
    color: $clr-info;
  }
}

::-webkit-scrollbar {
  width: 1rem;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: $clr-tertiary;

    &:hover {
      background: $clr-secondary;
    }
  }
}


