@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500;600;700&display=swap');

$qa-default-font: Roboto, "Helvetica Neue", sans-serif;
$heavy-font: Ranchers, "Helvetica Neue", sans-serif;
$menu-font: 'Roboto Mono', monospace;
$qa-landing-font: Open Sans, "Helvetica Neue", sans-serif;
