@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin custom-url($color,$hover) {
  color: $color;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    color: $hover;
  }
}


@mixin light-box-shadow() {
  box-shadow: 0 0 3rem 0 rgba($clr-dark-grey, 0.3);
}

