/* Colors */
$clr-dark: #0c1117;
$clr-black: #000;
$clr-light-dark: #313a46;


$clr-danger: #CC0000;
$clr-danger-fade: #da4932;

$clr-success: #28a745;
$clr-success-fade: #60c060;

$clr-primary: #007BFF;
$clr-primary-fade: #4d90fd;

$clr-warning: #ffc107;
$clr-warning-fade: #fc9700;

$clr-info: #0099CC;
$clr-info-fade: #009ed2;

$clr-dark-grey: #c8c8c8;
$clr-secondary: #6c757d;
$clr-tertiary: lighten($clr-secondary, 25);

$clr-light-1: #efefef;
$clr-light-2: #fcfcfc;
$clr-light-3: #f6f7fb;
$clr-light-4: #F5F7FB;
$clr-white: #FFFFFF;


/* Font Sizes */
$qa-default-font-size: 1.6rem;
$qa-font-size-xls: .8rem;
$qa-font-size-xs: 1rem;
$qa-font-size-s: 1.2rem;
$qa-font-size-n: 1.4rem;
$qa-font-size-n-1: 1.5rem;
$qa-font-size-m: 1.6rem;
$qa-font-size-lg: 1.8rem;
$qa-font-size-xlg: 2rem;
$qa-font-size-xlg-h: 2.5rem;
$qa-font-size-xxlg: 3rem;
$qa-font-size-xxlg-h: 3.5rem;
$qa-font-size-xxxlg: 4rem;
$qa-font-size-xxxlg-h: 4.5rem;


