<header class="landing">
  <div class="qa-card landing-card">
    <div class="text-box">
      <h1>We're working hard so you can work less on QA</h1>
      <h3>Qality takes away all the QA related to your business and rewarding you with time to focus on developing your
        business.</h3>
      <a [routerLink]="[projectPath]" class="qa-btn qa-btn-lg qa-btn-light">GET STARTED</a>
    </div>

    <div class="image-box">
      <img alt="tech-flow" src="../../../../../assets/images/tech-cog.png" width="750">
    </div>

  </div>

</header>
