<header class="landing">
  <div class="landing-left">
    <h1 class="landing-left-title">Best electronics collection</h1>
    <p class="landing-left-sub-title">Massive Range of TVs, Washing Machines, Cookers, Cameras, Laptops, Tablet PCs and
      more.</p>
  </div>

  <div class="landing-right">
    <img src="assets/images/store.jpg"/>
  </div>
</header>

<section class="landing-section">

  <div class="landing-section-left">
    <div class="landing-section-left-products">
      <div *ngFor="let p of productsList | slice:0:5" class="latest-product-wrapper">
        <div class="latest-product-wrapper-img"><img [src]="'data:image/jpeg;base64,'+ p.images[0]?.image"></div>
        <div class="latest-product-wrapper-desc">
          <h2>{{p.title}}</h2>
          <h1>{{p.price}}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-section-right">
    <p>LATEST</p>
  </div>
</section>
