@import 'src/styles/abstracts/variables';
@import 'src/styles/abstracts/fonts';

.landing {
  width: 75%;
  padding: 5rem 0;
  margin: 0 auto;

  &-card {
    background: linear-gradient($clr-light-dark, $clr-light-dark);
    height: 60rem;
  }

}


.text-box {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 40%;

  & h1 {
    color: $clr-light-4;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: $qa-landing-font;
    font-weight: 700;
    letter-spacing: .3rem;
    line-height: 4.5rem;
  }

  & h3 {
    margin-top: 3rem;
    font-size: 1.7rem;
    color: $clr-dark-grey;
  }

  & a {
    margin-top: 4rem;
  }
}

.image-box {
  position: absolute;
  right: 0;
  bottom: 0;
}
