<section class="qa-section">
  <div class="qa-card">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">Order Complete</h1>
      <fa-icon class="qa-card-icon" icon="check"></fa-icon>
    </div>
    <app-custom-alert alertIcon="check" alertText="Your order was placed, the delivery process will start soon"
                      alertType="success" strongText="Order on the way..."></app-custom-alert>
    <div class="text-center">
      <a [routerLink]="['/landing','products']" class="qa-btn qa-btn-success qa-btn-s">Continue Shopping</a>
    </div>
  </div>
</section>
