<mat-form-field appearance="outline" class="w-50">
  <mat-label>Sort By</mat-label>
  <mat-select [formControl]="sortControl">
    <mat-option value="high-price">High Price</mat-option>
    <mat-option value="low-price">Low Price</mat-option>
    <mat-option value="best-rating">Best Rating</mat-option>
    <mat-option value="low-rating">Low Rating</mat-option>
    <mat-option value="ascending-order">A-Z</mat-option>
    <mat-option value="descending-order">Z-A</mat-option>
    <mat-option value="default">Default</mat-option>
  </mat-select>
</mat-form-field>
