.heading-tertiary {
  font-size: $qa-default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $clr-tertiary;
}

.full-screen-bg {
  position: fixed;
  align-items: center;
  background: rgba($clr-black, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

.heading-primary {
  font-size: $qa-font-size-xxlg-h;
  font-weight: 700;
  color: $clr-dark-grey;
}

.qa-card {
  display: block;
  overflow: hidden;
  position: relative;
  min-width: 45rem;
  padding: 1.6rem;
  border-radius: .6rem;
  @include light-box-shadow();
  background-color: $clr-white;
  color: $clr-secondary;
  font-family: $qa-default-font;
  font-size: $qa-font-size-n;
  transition: all .3s ease-in-out;


  &-header {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-title-container {
    letter-spacing: .05rem;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-title {
    font-size: $qa-font-size-m;
  }

  &-subtitle {
    font-size: $qa-font-size-s;
    color: $clr-tertiary;
  }

  &-icon {
    font-size: $qa-font-size-xlg-h;
    color: $clr-tertiary;
    text-align: right;
  }

  &-labeled-icon {
    color: $clr-tertiary;
    display: grid;
    grid-template-columns: 3.3fr .7fr;
    align-items: center;
  }

  &-labeled-icon-text {
    text-align: right;
    line-height: 1.85rem;
    color: $clr-tertiary;
  }

  &-settings-box {
    text-align: right;
  }

  &-hover {
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 .7rem 1rem rgba($clr-black, .4);
    }
  }
}



.qa-section {
  width: 75%;
  padding: 3rem 0;
  margin: 0 auto;
}

.qa-section-medium {
  width: 50%;
  margin: 0 auto;
}

.qa-section-small {
  padding: 10rem 40rem;
  margin: 0 auto;
}


.full-row {
  grid-column: 1 / -1;
}


.hr-custom {
  margin: 2rem 0 1rem 0;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 3rem;
  border-bottom: 3px solid rgba($clr-black, .2);
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.product-img {
  max-width: 22rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  cursor: pointer;

  & img {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

}

.product-content {
  display: flex;
  flex-direction: column;
}

.product-title a {
  font-weight: 600;
  font-size: 1.6rem;
  height: 5rem;

  &:hover {
    color: $clr-info;
  }
}

.product-characteristics {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.product-description {
  padding-left: 2rem;
  flex-grow: 1;
}


.price {
  color: $clr-black;
  font-family: $menu-font;
  font-size: 2.6rem;

  &::before {
    content: '\20AC';
  }
}

.price-discounted {
  color: $clr-black;
  font-family: $menu-font;
  font-size: 2.2rem;
  letter-spacing: -.2rem;
  position: relative;

  &::before {
    content: '\20AC';
  }

  &::after {
    content: 'Sale expire on: ' attr(data-after);
    position: absolute;
    top: 90%;
    left: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: $clr-info;
  }

  & del {
    color: rgba($clr-black, .5);
    font-size: 1.4rem;

    &::before {
      content: '\20AC';
    }
  }
}
