.settings-wrapper {
  display: grid;
  grid-template-columns: .65fr .35fr;
  grid-gap: 2rem;
}

.products-side,
.settings-side {
  border-radius: .5rem;
  border: 1px solid rgba($clr-black, .2);
  padding: 1rem;
}

.products-side-wrapper {
  display: grid;
  grid-template-columns: .35fr 1fr .2fr;
  grid-gap: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba($clr-black, .3);

  &-img {
    display: block;
    overflow: hidden;

    & img {
      display: block;
      width: 100%;
    }
  }

  &-title {
    & h1 {
      font-size: 1.7rem;
      color: $clr-secondary;
      font-weight: 500;
      max-width: 40rem;
    }

    &-q {
      font-weight: 700;
      color: $clr-success;
    }

    &-w {
      font-weight: 500;
      color: $clr-light-dark;
    }
  }

  &-price {
    font-weight: 700;
    font-size: 1.6rem;
    color: $clr-danger;

    &::before {
      content: '\20AC';
    }
  }
}

.settings-container {
  position: relative;
  border: 1px solid rgba($clr-black, .1);
  padding: 1rem;
  margin-bottom: 2rem;

  &::before {
    content: attr(data-tooltip);
    background: $clr-white;
    position: absolute;
    color: $clr-light-dark;
    font-weight: 500;
    font-size: 1.1rem;
    top: -.8rem;
    left: .5rem;
  }

  &-main {
    color: $clr-black;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &-change {
    color: $clr-black;
    font-size: 1rem;
    cursor: pointer;
    margin-top: .5rem;
    text-align: right;
    text-transform: uppercase;
    transition: .3s ease-in-out;

    &:hover {
      color: $clr-info;
    }
  }
}
