@import 'src/styles/abstracts/variables';

.qa-text-success {
  color: $qa-color-success !important;
}

.qa-text-secondary {
  color: $qa-color-secondary !important;
}

.qa-text-tertiary {
  color: $qa-color-tertiary !important;
}

.qa-text-primary {
  color: $qa-color-primary !important;
}

.qa-text-white {
  color: $qa-color-white !important;
}

.qa-text-light {
  color: $qa-color-light !important;
}

.qa-text-warning {
  color: $qa-color-warning !important;
}

.qa-text-info {
  color: $qa-color-info !important;
}

.qa-text-dark {
  color: $qa-color-dark !important;
}

.qa-text-danger {
  color: $qa-color-danger !important;
}

.qa-bold {
  font-weight: 700 !important;
}
