@import 'src/styles/abstracts/variables';

.text-success {
  color: $qa-color-success !important;
}

.text-secondary {
  color: $qa-color-secondary !important;
}

.text-tertiary {
  color: $qa-color-tertiary !important;
}

.text-primary {
  color: $qa-color-primary !important;
}

.text-white {
  color: $qa-color-white !important;
}

.text-light {
  color: $qa-color-light !important;
}

.text-warning {
  color: $qa-color-warning !important;
}

.text-info {
  color: $qa-color-info !important;
}

.text-dark {
  color: $qa-color-dark !important;
}

.text-danger {
  color: $qa-color-danger !important;
}

.bold {
  font-weight: 700 !important;
}
