@import 'src/styles/abstracts/variables';

.text-success {
  color: $clr-success !important;
}

.text-secondary {
  color: $clr-secondary !important;
}

.text-tertiary {
  color: $clr-tertiary !important;
}

.text-primary {
  color: $clr-primary !important;
}

.text-white {
  color: $clr-white !important;
}

.text-light {
  color: $clr-light-1 !important;
}

.text-warning {
  color: $clr-warning !important;
}

.text-info {
  color: $clr-info !important;
}

.text-dark {
  color: $clr-dark !important;
}

.text-danger {
  color: $clr-danger !important;
}

.bold {
  font-weight: 700 !important;
}
