<section class="qa-section">
  <div class="qa-card">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">All Products</h1>
      <div class="qa-card-settings-box font-xs">
        <app-sort-filter [(productsList)]="productsList"></app-sort-filter>
      </div>
    </div>

    <div class="font-xs">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Filter By Category</mat-label>
        <mat-select (selectionChange)="filterByCategory($event)" [value]="0">
          <mat-option [value]="0">All Categories</mat-option>
          <mat-option *ngFor="let c of categoryList" [value]="c.categoryId">{{c.categoryName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Filter By title or manufactured</mat-label>
        <input [formControl]="filterControl" matInput placeholder="First impression about product" type="text">
      </mat-form-field>
    </div>

    <div *ngFor="let prod of productsList | productFilter: filterControl.value" class="product-container">
      <div class="product-img">
        <p class="bold text-center">{{prod.manufactured}}</p>
        <a [routerLink]="['/landing', 'products', prod.productId]">
          <img *ngIf="prod.images.length > 0" [src]="'data:image/jpeg;base64,'+ prod.images[0]?.image">
          <img *ngIf="prod.images.length == 0" src="assets/images/nophoto.png">
        </a>
      </div>

      <div class="product-content">
        <div class="product-title"><a [routerLink]="['/landing', 'products', prod.productId]">{{prod.title}}</a></div>
        <div class="product-characteristics">
          <div class="product-options">
            <p *ngIf="!cpanelService.discountExpired(prod.expireDiscount)" class="price">{{prod.price}}</p>
            <p *ngIf="cpanelService.discountExpired(prod.expireDiscount)"
               [attr.data-after]="prod.expireDiscount | date:'dd / MMM'"
               class="price-discounted">{{prod.price - ((prod.price * prod.discountAmount) / 100)}}
              <del>{{prod.price}}</del>
            </p>

            <div>
              <bar-rating [rate]="prod.totalRating / prod.numOfRatingCustomers"
                          [max]="5" [readOnly]="true"></bar-rating>
              <a href="#"><span>{{prod.totalRating / prod.numOfRatingCustomers}}</span> /
                <span>{{prod.numOfRatingCustomers}}</span></a>
            </div>
            <small *ngIf="prod.stock == 0">Product out of stock</small>
            <small *ngIf="prod.stock > 0 && prod.stock < 5" class="text-danger">{{prod.stock}} products left in the
              stock</small>
          </div>

          <div class="product-description">{{prod.description}}</div>
        </div>
      </div>

    </div>
  </div>

</section>
