@import 'src/styles/abstracts/variables';
@import 'src/styles/abstracts/fonts';


.logo-box {
  line-height: 7rem;
  margin-left: 6rem;
  float: left;
  min-width: 20rem;
}

.logo {
  height: 3rem;
  vertical-align: middle;
  display: inline-block;
}

.logo-text {
  background: linear-gradient(to left bottom, $qa-menu-hover-color, $qa-color-light-dark-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
  margin-left: 1rem;
  text-shadow: 3px 5px 5px rgba($qa-color-black, .4);
  vertical-align: middle;
}

.copy-zone, a {
  font-size: clamp(.8rem, 4vw, 1.1rem);
  font-weight: 700;
  letter-spacing: .1rem;
  color: $qa-color-dark-2;
  text-align: center;
  margin-top: .4rem;
  min-width: 20rem;
  transition: all ease-in-out .3s;

  & a:hover {
    color: $qa-menu-hover-color;
  }
}
