<section class="qa-section-small w-75 ">
  <div>
    <a class="logo-box" href="https://qality.tech" target="_blank">
      <img alt="Logo" class="logo" src="../../../../../assets/images/logo.png">
      <span class="logo-text">qality.tech client service</span>
    </a>
  </div>

  <div class="qa-card">
    <div class="qa-card-header">
      <h1 class="qa-card-title-container qa-card-title">Login</h1>
      <fa-icon class="qa-card-icon" icon="sign-in-alt"></fa-icon>
    </div>

    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="font-s">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Username" type="text">
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')" class="font-xs">Username is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')" class="font-xs">Password is required!
          </mat-error>
        </mat-form-field>
      </div>

      <button [disabled]="!loginForm.valid" class="qa-btn qa-btn-s qa-btn-primary pull-right" type="submit">
        <fa-icon icon="sign-in-alt"></fa-icon>
        Login
      </button>
    </form>

  </div>

  <p class="copy-zone">
    Powered By: <a href="https://qality.tech">QAlity.tech</a> &copy; {{ currentYear }}
  </p>
</section>
