@import 'src/styles/abstracts/variables';

.main-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.form-button-inline {
  display: grid;
  grid-template-columns: 1fr .1fr;
  grid-gap: 1rem;
  align-items: start;
}

.category-container {
  padding: 1rem;
  border: 1px solid rgba($clr-black, .1);
  border-radius: .7rem;
  position: relative;

  &:hover {
    border-color: $clr-info;
  }

  &::before {
    content: 'Categories List';
    position: absolute;
    font-size: 1.1rem;
    top: -1rem;
    background: $clr-white;
  }

  &:hover::before {
    color: $clr-black;
  }
}


.cat-list {
  list-style: none;
  width: 100%;
  font-size: $qa-font-size-n;
  font-weight: 700;

  & li {
    padding: .5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $qa-color-light-3;
    }
  }
}

.cat-row {
  display: flex;
  flex-grow: 1;
}

.cat-row button:nth-of-type(1) {
  margin-left: auto;
}

.cat-row button:nth-of-type(2) {
  margin-left: 2rem;
}

.stock-cell {
  padding: 0 2rem;
  max-width: 3rem
}

.change-stock-icon {
  margin-left: .2rem;
  color: $clr-info;
  cursor: pointer;
}
